.header{
    width: 100%;
    height: 90px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.headerName h2{
  color: #fff3be;

}
.fullBackground{
  background-color: rgba(0, 0, 0, 0.800);
  height: 200vh;
}
/* .fullBackground h2{
  background-color: black;
} */
.input_fild{
    display: flex;
    justify-content: center;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    height: 2.7rem;
    width: 36.2rem;
    border-radius: 50px;
}
.inputFild{
    width: 30rem;
    height: 2.6rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: none;
    outline:none;
    background-color: #fff3be;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 0; */
}
.SearchBtn{
    height: 2.6rem;
    width: 6rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline:none;
    cursor: pointer;
    border-style: none;
    background-color: rgb(103, 0, 151);
    padding: 0;
}
.RefreshBtn{
  height: 2.6rem;
  width: 6rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline:none;
  cursor: pointer;
  border-style: none;
  background-color: rgb(228, 228, 255);
  padding: 0;
}
.image_fild{
    padding: 8px;
    overflow: hidden;
}

.background_text h2{
    font-size: 130px;
    color: #d6ff8942;
    position: fixed;
    padding-left: 18rem;
    /* padding-right: 13rem; */
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    
}
.sideBarImage{
    width: 100%;
    height: 90%;
    
}
.close_image {
    position: absolute;
}
.close_image_cls{
    position: relative;
    cursor: pointer;
}

  .errMsg{
    font-size: 30px;
    color:rgb(0, 147, 245);
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
  }