.header{
    width: 100%;
    height: 90px;
    background-color: #fff5c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    
}
.input_fild{
    display: flex;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 2.7rem;
    width: 36.2rem;
    border-radius: 50px;
}
.inputFild{
    width: 30rem;
    height: 2.6rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: none;
    outline:none;
    background-color: rgb(255, 219, 198);
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 0; */
}
.SearchBtn{
    height: 2.6rem;
    width: 6rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline:none;
    cursor: pointer;
    border-style: none;
    background-color: rgb(228, 228, 255);
    padding: 0;
}
.RefreshBtn{
  height: 2.6rem;
  width: 6rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline:none;
  cursor: pointer;
  border-style: none;
  background-color: rgb(228, 228, 255);
  padding: 0;
}
.image_fild{
    padding: 8px;
    overflow: hidden;
}

.background_text h2{
    font-size: 130px;
    color: #cacaca;
    position: fixed;
    padding-left: 14rem;
    padding-right: 14rem;
    padding-top: 5rem;
    
}
.sideBarImage{
    width: 100%;
    height: 90%;
    
}
.close_image {
    position: absolute;
}
.close_image_cls{
    position: relative;
    cursor: pointer;
}


.sk_folding_cube {
   margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk_folding_cube .sk_cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk_folding_cube .sk_cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk_folding_cube .sk_cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk_folding_cube .sk_cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk_folding_cube .sk_cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk_folding_cube .sk_cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk_folding_cube .sk_cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk_folding_cube .sk_cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
  .errMsg{
    font-size: 30px;
    color:rgb(25, 0, 255);
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
  }