.header{
    width: 100%;
    height: 90px;
    background-color: #fff5c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    
}
.input_fild{
    display: flex;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 2.7rem;
    width: 36.2rem;
    border-radius: 50px;
}
.inputFild{
    width: 30rem;
    height: 2.6rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: none;
    outline:none;
    background-color: rgb(255, 219, 198);
    font-size: 18px;
    padding-left: 1rem;
    /* padding: 0; */
}
.SearchBtn{
    height: 2.6rem;
    width: 6rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline:none;
    cursor: pointer;
    border-style: none;
    background-color: rgb(228, 228, 255);
    padding: 0;
}
.image_fild{
    padding: 8px;
    overflow: hidden;
}

.background_text h2{
    font-size: 130px;
    color: #cacaca;
    position: fixed;
    padding-left: 14rem;
    padding-right: 14rem;
    padding-top: 5rem;
    
}
.sideBarImage{
    width: 100%;
    height: 100%;
    
}
